<div class="row">
  <div class="col-md-8">

    <%= render partial: "search" %>

    <br>

    <%= link_to "New Enrollment", new_enrollment_path, class: "btn btn-primary" %>

  </div>
  <div class="col-md-4">
    <%= render partial: "import_export" %>
  </div>
</div>

<h1>Enrollments</h1>

<%= render partial: "enrollments", locals: {enrollments: @enrollments, tab: "enrollments"} %>
