<%= form_for import, html: {class: "form-inline"} do |f| %>
  <div class="form-group">
    <%= f.file_field :file, class: "form-control input-sm", id: "import-enrollments-field" %>
  </div>
  <div class="form-group pop" id="tooltip" data-toggle="tooltip" data-placement="right" title="Please Choose a File">
    <%= f.submit "Import", class: "btn btn-success btn-sm", id: "import-enrollments-button" %>
  </div>
  <br>
<% end %>
