<div class="row">
  <h4>Import New Enrollments</h4>
  <ul>
    <li>If an <strong>Index</strong> is supplied, the corresponding existing record will be updated.</li>
    <li>If an <strong>Index</strong> is not supplied, a new record will be created.</li>
  </ul>
  <%= render partial: "import_form", locals: {import: @enrollment_import} %>
</div>

<div class="row">
  <% if @enrollment_import.errors.any? %>
    <%= render partial: "import_errors" %>
  <% end %>
</div>

<div class="row">
  <% if @imported_enrollments.any? && @enrollment_import.errors.none? %>
    <hr>
    <%= render partial: "import_success" %>
  <% end %>
</div>
